:root {
  font-size: 25px;
}

:empty {
  width: 200px;
  height: 200px;
  background-color: red;
}

.container :first-child {
  font-weight: bold;
}

.container :last-child {
  text-decoration: underline;
}
